/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# position
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.p-relative {
  position: relative;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.rad-6 {
  border-radius: 6px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# margin
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.m-20 {
  margin: 20px;
}
.m-top-0 {
  margin-top: 0;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# padding
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Background
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.bg-white {
  background-color: white;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# text
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.t-center {
  text-align: center;
}
.c-black {
  color: black;
}
.fs-14 {
  font-size: 14px;
}
